app:
  frontend:
    base-url: http://mediclaim.ousl.lk
      #http://localhost:4200

server:
  port: 9000
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

spring:
  application:
    name: member
  datasource:
    username: postgres
    jdbc-url: jdbc:postgresql://localhost:5432/insurance
    url: jdbc:postgresql://localhost:5432/insurance
    password: abcd
  hr-datasource:
    jdbc-url: jdbc:mysql://localhost:3306/hrdatabase
    username: root
    password: abcd
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  logging:
    level:
      org:
        flywaydb: INFO

  jpa:
    show_sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: mediclaim@ousl.lk
    password: rbqv kadv yhli dmqe
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        debug: false


# ===============================
# SQL SERVER HR VIEW DATABASE
# ===============================
  # hr:
    # datasource:
    # jdbc-url: jdbc:sqlserver://YOUR_MSSQL_HOST;databaseName=HRDB
    # url: jdbc:sqlserver://YOUR_MSSQL_HOST;databaseName=HRDB
    # username: hr_user
    # password: xxxx
    # driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
