app:
  frontend:
    base-url: http://mediclaim.ousl.lk
      #http://localhost:4200

server:
  port: 9000
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

spring:
  application:
    name: member
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/insurance
    password: abcd
  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: false
  logging:
    level:
      org:
        flywaydb: INFO

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: mediclaim@ousl.lk
    password: rbqv kadv yhli dmqe
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        debug: false


# ===============================
# SQL SERVER HR VIEW DATABASE
# ===============================
hr:
  datasource:
    url: jdbc:sqlserver://YOUR_MSSQL_HOST;databaseName=HRDB
    username: hr_user
    password: xxxx
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver